<!DOCTYPE html>
<html>
<head>
    <title>Danny's Garage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1 {font-family: "Raleway", Arial, sans-serif}
        h1 {letter-spacing: 6px}
        .w3-row-padding img {margin-bottom: 12px}
    </style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:5px 16px">
        <h1 class="w3-xlarge">Explore the Thrill with Danny's Garage</h1>
        <p class="w3-large">Your ultimate destination for renting the finest JDM and exotic sports cars.</p>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a href="index.html" class="w3-bar-item w3-button">Home</a>
                <a href="fleet.html" class="w3-bar-item w3-button w3-light-grey">Our Fleet</a>
                <a href="book.html" class="w3-bar-item w3-button">Book Now</a>
                <a href="contact.html" class="w3-bar-item w3-button w3-hide-small">Contact</a>
            </div>
        </div>
    </header>

    <!-- Photo Grid -->
    <div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
        <div class="w3-half">
            <img src="https://cdn.dealeraccelerate.com/international/1/1305/59642/1920x1440/1999-nissan-skyline-gt-r-vspec" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/667/30930/1920x1440/2012-nissan-gt-r" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/1162/52491/1920x1440/1991-acura-nsx" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/1134/51284/1920x1440/2002-nissan-skyline-gt-r-vspec-ii" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/1283/59048/1920x1440/1999-nissan-skyline-gt-r" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/865/60005/1920x1440/1995-nissan-skyline-gt-r" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/865/60016/1920x1440/1995-nissan-skyline-gt-r" style="width:100%">

        </div>

        <div class="w3-half">
            <img src="https://cdn.dealeraccelerate.com/international/1/1162/52480/1920x1440/1991-acura-nsx" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/1178/53019/1920x1440/1999-nissan-skyline-gt-r" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/1305/59642/1920x1440/1999-nissan-skyline-gt-r-vspec" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/753/53303/1920x1440/1991-nissan-skyline-gt-r" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/605/28788/1920x1440/1995-nissan-skyline-gt-r" style="width:100%">
            <img src="https://cdn.dealeraccelerate.com/international/1/865/60002/1920x1440/1995-nissan-skyline-gt-r" style="width:100%">
        </div>
    </div>

    <!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <p>Powered by <a href="https://github.com/dannycao1997" target="_blank" class="w3-hover-text-green">Danny's Garage</a></p>
</footer>

</body>
</html>
